*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent-box {
    background-color: orange;
    width: 50%;
    height: 500px;
    padding: 14px 20px;
    display: flex;

    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

.innerBannerBox {
    background: teal;
    height: 230px;
    width: 48%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

 .innerBannerBox:nth-child(1){
background-color: pink;
}
.innerBannerBox:nth-child(2){
background-color: green;
}
.innerBannerBox:nth-child(3){
background-color: yellow;
} */
.innerBannerBox:nth-child(4){
background-image: url(../images/logo.png);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}