header{
    background-color: #000;
    height: 100px;
    width: 100%;
}

.Logo{
    background-color: pink;
    height: 100%;
    width: 200px;
    color: #000;
    text-align: center;
}

#servicers{
    height: 500px;
    width: 100%;
    background-color: green;
}

#about{
    height: 500px;
    width: 100%;
    background-color: orange;
}

#contact{
    height: 500px;
    width: 100%;
    background-color: blue;
}

footer{
    height: 500px;
    width: 100%;
    background-color: #000;
}

iframe{

}